<ion-header>
  <ion-toolbar>
    <ion-title>¿Dónde encontrarnos?</ion-title>

    <ion-buttons slot="end">
    	<ion-button color ="green" (click)="logout()">
    		<ion-icon slot="icon-only" name="exit"></ion-icon>
    	</ion-button>
    </ion-buttons>
     
  <ion-buttons slot="start">
  	<ion-menu-button></ion-menu-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content text-center>
	<p align="center"><ion-img src="/assets/icon/ecoverreLogo.jpeg" style="width:25%"></ion-img></p>
	<ion-img src="/assets/icon/map.JPG" style="width:190%"></ion-img>
</ion-content>
