<ion-content>
	<ion-slides pager = "true">
		<ion-slide class="slide-one">
			<ion-img src="/assets/icon/ecoverreLogo2.jpg"></ion-img>
			<h1>¡Bienvenido a Ecoverre!</h1>
			<p class="labelintro">
				REDUCE REUSANDO<br/>
				<span>Una alternativa hecha a tu medida</span>
			</p>
		</ion-slide>
		<ion-slide class="slide-two">
			<p class="labelintro">
				¿Ya eres usuario Ecoverre?
			</p>
				<ion-button style="width: 35%;" color="success" (click)="openLogin()">Inicia sesión</ion-button>
				<ion-button style="width: 35%;" color="success" (click)="openRegister()">Regístrate</ion-button>
		</ion-slide>
	</ion-slides>
</ion-content>
