<ion-header>
  <ion-toolbar>
    <ion-title>Nuestros productos</ion-title>

    <ion-buttons slot="end">
    	<ion-button color ="green" (click)="logout()">
    		<ion-icon slot="icon-only" name="exit"></ion-icon>
    	</ion-button>
    </ion-buttons>
     
  <ion-buttons slot="start">
  	<ion-menu-button></ion-menu-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content text-center>
	<p align="center"><ion-img src="/assets/icon/fabuloso.png" style="width:25%"></ion-img></p>
	<p align="center">Limpiador líquido</p>
	<p align="center">Fresca lavanda</p>
	<ion-list>
		<ion-item align="center">$5.250 / litro</ion-item>
	</ion-list>

	<p align="center"><ion-img src="/assets/icon/ariel.png" style="width:25%"></ion-img></p>
	<p align="center">Jabón en npolvo</p>
	<p align="center">Doble poder</p>
	<ion-list>
		<ion-item align="center">$7.800 / kg</ion-item>
	</ion-list>
</ion-content>
